.git
.gitignore
.idea
.vscode
*.class
*.jar
*.war
*.nar
*.zip
*.tar.gz
*.rar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.DS_Store
Thumbs.db
target/
logs/
*.log
node_modules/
npm-debug.log
dist/
.env
.env.local
.env.*.local
application-*.properties
